* { box-sizing: border-box; }

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    background: #FFF;
    color: #2C3E50;
    font: 300 1em/1.2em 'Lato', 'sans-serif';
}

a {
    text-decoration: none;
    color: #2C3E50;
    transition: color 400ms;
}

    a:hover {
        color: #3498DB;
    }


header {
    margin: 80px 10px;
    text-align: center;
}

    header h1,
    header h2 {
        font-weight: 300;
    }

    header h1 {
        font-size: 2.6em;
    }

        header h1 em {
            color: #3498DB;
            font-style: normal;
        }

    header h2 {
        font-size: 1.2em;
    }

#preview {
    display: block;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0 0 150px rgba(0, 0, 0, 0.1);
}
